<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Password</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/phone.css">
    <style>
        .nav-link {
            color: white;
        }

        .nav-link:hover {
            border: none;
        }

        .profile-container {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .profile-card {
            display: flex;
            flex-direction: column;
            gap: 20px;
            align-items: center;
            margin-top: 50px;
            width: 80%;
            justify-self: center;
            border: 2px solid #373737;
            padding: 10px 0;
            border-radius: 20px;
            background-color: rgb(18 44 42 / 71%);
        }

        .profile-card h1 {
            color: white;
        }

        .input {
            width: 70%;
            border: 2px solid gray;
            border-radius: 12px;
            height: 30px;
            /* background: transparent; */
            background-color: #424242;
            color: white;
            font-weight: bold;
            padding: 5px 10px;
        }
    </style>
</head>

<body>
    <nav class="navbar">
        <a href="/profile" class="nav-link">⬅ Back to Profile</a>
    </nav>

    <div class="profile-container">
        <form method="POST" action="/profile/change-password" class="profile-card">
            <h1>Change Password</h1>
            <input class="input" type="password" name="oldPassword" placeholder="Enter old password" required />
            <input class="input" type="password" name="newPassword" placeholder="Enter new password" required />
            <button type="submit" class="btn">Update Password</button>
        </form>
    </div>
</body>

</html>